.vscode/**
.vscode-test/**
src/**
.gitignore
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**
out/tests/**
node_modules/**
.mocharc.json
.reviewai.yml
.review-ai/**
.env*
**/.env*
sample-java-project/**
releases/**
build.sh
